*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 5rem;
    background-color: #4b4b4b;
    display: flex;
    justify-content:space-around; 
    align-items: center;
}
.priorityAction{
    width: 21rem;
    height: 3rem;
    background-color: #313131;
    display: flex;
    justify-content:space-around; 
    align-items: center;
}

.ticketAction{
    width: 8rem;
    height: 3rem;
    background-color: #313131;
    display: flex;
    justify-content:space-around; 
    align-items: center;
}

button{
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #3498db;
    padding: 2px 15px; 
    color: #3498db;
    font-size: 1.5rem;
    border-radius: 3px;
}

button:hover{
    transform: rotate(30deg);
}

.clr {
    height: 2rem;
    width: 4rem;
    margin: 2px;
    border-radius: 3px;
}

.container{
    height: 40vh;
    width: 50vw;
    background-color: lightblue;
    position: absolute;
    top: calc( (100vh - 30vh )/2);
    left: calc((100vw - 50vw)/2);
    display: flex;

}

.textarea-cont{
    height: 100%;
    width: 70%;
    border: none;
    outline: none;
    background-color: rgb(202, 220, 214);
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}

.priority-colors-cont{
    height: 100%;
    width: 30%;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color{
    height: 2rem;
    width: 60%;
}

.lightgreen{
    background-color: lightgreen;
}
.lightpink{
    background-color: lightpink;
}
.lightblue{
    background-color: lightblue;
}
.black{
    background-color: black;
}

.border{
    border: 5px solid rgb(220, 235, 91);
}

.main-cont{
    margin: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.ticket-cont{
    height: 15rem;
    width: 20rem;
    background-color: aqua;
    border-radius: 15px;
    overflow: hidden; 
}

.ticket-color{
    height: 1rem;   
}
.ticket-id{
    height: 2rem;
    background-color: rgb(149, 137, 121);
    padding: 10px; 
}
.task-cont{
    height: calc(100% - 5rem);
    background-color: rgba(152, 231, 113, 0.606);
    padding: 10px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    font-family:'Courier New', Courier, monospace;
}
.ticket-lock{
    height: 2rem;
    display: flex;
    background-color: rgba(152, 231, 113, 0.606);
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: rgba(111, 159, 87, 0.606);;
}

@media screen and (max-width: 768px) {
    .container{
        height: 50vh;
        width: 70vw;
        position: absolute;
        top: calc( (100vh - 50vh )/2);
        left: calc((100vw - 70vw)/2);
        flex-direction: column;
    }
    .textarea-cont{
        width: 100%;
    }
    .priority-colors-cont{
        height: 35%;
        width: 100%;
        background-color: #4b4b4b;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .priority-color{
        height: 100%;
        border-radius: 10px;
    }
    .ticket-cont{
        height: 20rem;
        width: 25rem;
        background-color: aqua;
        border-radius: 15px;
        overflow: hidden;
        
    }

    nav{
        height: 10rem;
        display: flex;
        flex-direction: column;
    }
}
